---
layout: default
---

{% include header.html %}
<!--
<div class="portfolio">
    <h1>Projects:</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
-->
<div class="blog">
    {% if page.url == '/' %}
    <h1>HN stories:</h1>
    <ul id="hn"></ul>
    <script type="text/javascript">
    var url = "https://hacker-news.firebaseio.com/v0/beststories.json";
    var item_url = "https://hacker-news.firebaseio.com/v0/item/";
        $.ajax({
          url: url,
          method: 'GET',
      }).done(function(results) {
          results = results.slice(0, 5);
          $.each(results, function(index, result) {
             $.ajax({
                url: item_url + result + '.json',
                method: 'GET',
              }).done(function(result) {
                  if (result.title.length < {{ site.hnlength}} && result.type='story') {
                      $('ul#hn').append('<li>' + '<a href="' + result.url + '" target="_blank">' + result.title + '</a></li>');
                  }
              }).fail(function(err) {
                throw err;
              });
          });
        }).fail(function(err) {
          throw err;
        });
    </script>
    {% endif %}
    <hr/>
    <h1>Collections:</h1>
    <ul>
        {% for post in paginator.posts %}
        <li>
            {% if post.type == "post" %}
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> <br/> <a href="{{ post.url }}" style="line-height:1.5">{{ post.title }}</a>
            {% else %}
            {% for p in post._url %}
            {% if forloop.index == 1 %}
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> <br/> <a href="{{ p.uri }}" target="_blank" style="line-height:1.5">{{ p.title }}</a> <i class="fa {{ p.type }}" aria-hidden="true"></i>
            {% else %}
            <span class="date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <br/> <a href="{{ p.uri }}" target="_blank" style="line-height:1.5">{{ p.title }}</a> <i class="fa {{ p.type }}" aria-hidden="true"></i>
            {% endif %}
            {% endfor %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <br/>
    <br/>
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
</div>
