---
layout: default
---

{% include header.html %}
<!--
<div class="portfolio">
    <h1>Projects:</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
-->
<div class="blog">
    {% assign day = site.time | date: "%a" %}
    {% assign mod = paginator.total_posts | modulo:site.nmod %}
    {% if mod == site.mod_switch %}
    {% if page.url == '/' and day != site.ghostday %}
    <h1><span style="color:#f26522"><i class="fa fa-hacker-news" aria-hidden="true"></i></span> stories:</h1>
    <ul id="hn"></ul>
    <script type="text/javascript">
    var url = "https://hacker-news.firebaseio.com/v0/newstories.json";
    var item_url = "https://hacker-news.firebaseio.com/v0/item/";
        $.ajax({
          url: url,
          method: 'GET',
      }).done(function(results) {
          results = _.sample(results, {{site.hnn}});
          disp = 0;
          $.each(results, function(index, result) {
             $.ajax({
                url: item_url + result + '.json',
                method: 'GET',
              }).done(function(result) {
                  if (result.title.length < {{ site.hnlength}} &&
                      result.type=='story' &&
                      result.title.indexOf('Ask') != 0 &&
                      typeof result.url != 'undefined') {

                      disp += 1;
                      $('ul#hn').append('<li>' + '<a href="' + result.url + '" target="_blank">' + result.title + '</a></li>');
                  }
                  if (index == results.length - 1 && disp < 1) {
                      $('ul#hn').append('<li>' + 'Refresh <a href="/" onclick="location.reload()"> <i class="fa fa-refresh" aria-hidden="true"></i></a> for more stories.' + '</li>');
                  }
              }).fail(function(err) {
                throw err;
              });
          });
        }).fail(function(err) {
          throw err;
        });
    </script>
    <hr/>
    {% endif %}
    {% else %}
    <h1><i class="fa fa-bullseye" aria-hidden="true"></i>n Pursuit:</h1>
    <ul id="pursuit">
        {% for pursuit in site.pursuits %}
            <li><a href="{{pursuit.uri}}" class="no-dec" target="_blank">{{pursuit.title}}</a> <span style="color:#{{pursuit.color}}"><i class="fa {{pursuit.statusicon}}" aria-hidden="true"></i></span></li>
        {% endfor %}
    </ul>
    <hr/>
    {% endif %}
    <h1>Collections:</h1>
    <ul id="collections">
        {% for post in paginator.posts %}
        <li>
                {% if post.datespecial and post.specialcolor and post.specialtitle %}
                    {% assign special = post.datespecial %}
                    {% assign specialcolor = post.specialcolor %}
                    {% assign specialtitle = post.specialtitle %}
                {% else %}
                    {% assign special = '' %}
                    {% assign specialcolor = 000000 %}
                    {% assign specialtitle = '' %}
                {% endif %}
                {% if post.type == "post" %}
                    <span class="date" title="{{specialtitle}}" style="color:#{{specialcolor}}">{{ post.date | date: '%Y %b %d' }}</span> {{special}}<br/> <a href="{{ post.url }}" style="line-height:1.5">{{ post.title }}</a>
                {% elsif post.type == "both" %}
                    <span class="date" title="{{specialtitle}}" style="color:#{{specialcolor}}">{{ post.date | date: '%Y %b %d' }}</span> {{special}}<br/> <a href="{{ post.url }}" style="line-height:1.5">{{ post.title }}</a>
                    {% for p in post._url %}
                        {% if p.heart %}
                            {% assign heart = p.heart %}
                        {% else %}
                            {% assign heart = '' %}
                        {% endif %}
                        {% if forloop.index == 1 %}
                            {{special}}<br/> <a href="{{ p.uri }}" target="_blank">{{ p.title }}</a> {{ heart }} <i class="fa {{ p.type }}" aria-hidden="true"></i><br/>
                        {% else %}
                            <a href="{{ p.uri }}" target="_blank">{{ p.title }}</a> {{ heart }} <i class="fa {{ p.type }}" aria-hidden="true"></i><br/>
                        {% endif %}
                    {% endfor %}
                {% elsif post.type == "link" %}
                    {% for p in post._url %}
                        {% if p.heart %}
                            {% assign heart = p.heart %}
                        {% else %}
                            {% assign heart = '' %}
                        {% endif %}
                        {% if forloop.index == 1 %}
                            <span class="date" title="{{specialtitle}}" style="color:#{{specialcolor}}">{{ post.date | date: '%Y %b %d' }}</span> {{special}}<br/> <a href="{{ p.uri }}" target="_blank" style="line-height:1.5">{{ p.title }}</a> {{ heart }} <i class="fa {{ p.type }}" aria-hidden="true"></i><br/>
                        {% else %}
                            <a href="{{ p.uri }}" target="_blank">{{ p.title }}</a> {{ heart }} <i class="fa {{ p.type }}" aria-hidden="true"></i><br/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
        </li>
        {% endfor %}
    </ul>
    <br/>
    <br/>
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>
    <div id="tweet-me">
        <a href="https://twitter.com/intent/tweet?screen_name=_pbamotra_" class="twitter-mention-button" data-show-count="false">Tweet to @_pbamotra_</a><script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
