<div class="footer">
    <ul class="share-buttons">
      <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsciontist.com&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fsciontist.com&text=:%20http%3A%2F%2Fsciontist.com&via=_pbamotra_" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fsciontist.com&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>
    </ul>
</div>
