
<div class="header">
    <h1>{{ site.name }}</h1>
</div>
<div class="sub-header">
    <ul>
        {% for item in site.data.navigation %}
        <li class="{{ item.type}}">
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div id="logo">
    {% assign mod = paginator.total_posts | modulo:2 %}
    {% if mod == site.mod_switch %}
    <img src="{{site.logo}}.png" srcset="{{site.logo}}@2x.png 2x, {{site.logo}}@3x.png 3x" alt="Scottie - Loyal Scott" />
    {% else %}
    <img src="{{site.logo2}}.png" srcset="{{site.logo2}}@2x.png 2x, {{site.logo2}}@3x.png 3x" alt="Aristotle - Keep Learning" />
    {% endif %}
</div>
