
<div class="header">
    <h1>{{ site.name }}</h1>
</div>
<div class="sub-header">
    <ul>
        {% if page.show_home %}
        <li><a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
        {% endif %}
        {% for item in site.data.navigation %}
        <li>{{item.bundle}}</li>
        {% endfor %}
    </ul>
</div>
<div id="logo">
    <a href="http://plato.stanford.edu/entries/aristotle/" target="_blank" class="no-dec"><img src="{{site.logo2}}.png" srcset="{{site.logo2}}@2x.png 2x, {{site.logo2}}@3x.png 3x" alt="Aristotle - Keep Learning" /></a>
</div>
<form class="search-container" action="search/search.html" method="get" autocomplete="off">
  <label for="search-box" style="margin-right:5px"><i class="fa fa-search" aria-hidden="true"></i></label>
  <input id="search-box" type="text" class="search-box" name="query"/>
</form>
<hr/>
